* {
  box-sizing: border-box;
  /*font-family: inherit;*/
}

@media screen and (min-width: 992px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5em;
    grid-column-gap: 2em;
  }
}
/*grid hinzugefügt*/

.main {
  display: grid;
  border: 2px solid forestgreen;
}

html {
  --link-color: red;
  --linkcolor-background: white;
  --link-color-visited: grey;
  --test-color: blue;
}

.sub-index {
  z-index: -1;
}

.exp-heading {
  z-index: -1;
}

body {
  margin: 0;
}
header {
  padding: 0.5rem;
  background-image: linear-gradient(green 20%, greenyellow 100%);
  font-family: "Tapestry", cursive;
}

/*jetzt kommt der ID selector*/

#main-header {
  text-align: center;
  padding-bottom: 2.2rem;
  font-family: "water Brush", cursive;
}

/*noch anschauen: wie weise ich classes zu um sie zu stylen?*/

/*
font-family: 'Tapestry', cursive;
font-family: 'Water Brush', cursive;

Download über google fonts. Kopie in HTML Head nur einmal

*/

/**ab hier beginnt Tast zu pseude klassen etc

Frage: Kann der erste Teil der Aufgabe mit `main > *`, also allen Elementen die unter Main sind gelöst werden?*/

main > * {
  margin-top: 2rem;
  margin: 0 auto;
  max-width: 180ch;
}

/*Add styling to the navigation links
Add spacing between the navigation links*/

/*herausfinden was das a vor dem Link bedeutet*/

/* verdammtes *+* funktioniert nicht*/

/* das folgende funktioniert nicht weil ich erst andere ausschließen muss

li + li {
  background-color: aqua;
}
*/

/*
Add a general color for the navigation links
*/

a:link {
  color: var(--link-color), blue;
  background-color: var(--link-color-background);
}

a:visited {
  color: var(--link-cooolor-visited);
}

/*
Add specific styling for the :hover and :active state (i.e. different color or background color)*/

a:hover {
  color: coral;
}

a:active {
  color: crimson;
}

/*Use the border property to draw a line over each article of the main content except for the first one*/

/* *+article nochmal anschauen */
* + article {
  border-top: 0.2rem dashed black;
}

a:focus {
  background-color: yellow;
}

::selection {
  background-color: blue;
  color: black;

  /*😈*/
}

.exp-heading {
  display: inline-block;
}

.exp-sub-heading {
  display: inline-block;
}

#main-header {
  position: sticky;
  top: 0cm;
  left: 0cm;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  font-size: 1.7em;
}
#hire-me {
  position: fixed;
  top: 0.2rem;
  right: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 4em;
  height: 1em;
}

header {
  position: relative;
  left: -0rem;
}

/*Verschieben von Text kann auch mit negativen Zahlenwerten erfolgen*/
html {
  font-size: 48;
}

.heading-element {
  font-size: 2rem;
}

.profession {
  font-size: 0.6em;
}

.print-warning {
  background-color: red;
  color: blue;
  position: sticky;
  text-align: center;
}

@media screen {
  .print-warning {
    display: none;
  }
}
/*media ansprache nochmal üben*/

article {
  padding: 20;
}

@media print {
  #hire-me {
    display: none;
  }
}

#list-of-content {
  background-color: #fff;
  margin: 0 auto;
  max-width: 60rem;
  display: flex;
  border: 3px solid #fff;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
  header {
    background-image: linear-gradient(blue 20%, aqua 100%);
  }
  article {
    padding: 30px;
  }
  #list-of-content {
    background-color: #fff;
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    border: 3px solid #fff;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

#skills-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.hard-skill {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

@media screen and (max-width: 992px) {
  #skills-section {
    flex-direction: column;
  }
  .hard-skill {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
  }
  #main-header::after {
    content: "👼👼";
    font-size: 200%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  header {
    background-image: linear-gradient(red 20%, coral 100%);
  }
  article {
    padding: 40px;
  }
  #main-header::after {
    content: "😈😈";
    font-size: 200%;
  }
}

@media screen and (max-width: 768px) {
  #main-header::after {
    content: "🐢💨";
    font-size: 200%;
  }
}

footer {
  display: flex;
  border: 0px solid red;
  background-image: linear-gradient(90deg, green, blue, red);
  font-size: 250%;
  font-family: tapestry, cursive;
  justify-content: center;
}

/*#my-profile {
  padding-top: 250px;
}
*/

.question:hover #question {
  transform: rotate(720deg);
  transform-origin: 25% 25% 0;
  transition: transform 3s;
  transition-timing-function: cubic-bezier(0.64, 2.18, 0, -1.39);
}

.Spielerei {
  border: 2px solid salmon;
}

.box {
  width: 500px;
  height: 500px;
  border: 2px solid var(--test-color);
  color: var(--test-color, black);
  background-color: green;
  transition: 3s;
  justify-content: flex-start;
}

.box:hover {
  background-color: salmon;
  font-size: 400%;
}

.question {
  border: 2px dashed green;
}

#hire-me:hover {
  transition: 3s;
  transition-timing-function: cubic-bezier(0.075, 3, 0.165, 1);
  transform-origin: 100% 0%;
  transform: scale(2);
}

.Emoji {
  display: flex;
  border: 2px solid green;
  font-size: 16em;
}

.Emoji:hover {
  transform: rotate(7200deg);
  transition: 3s;
  transition-timing-function: ease;
  border: 16px dashed red;
}
