* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
header {
  padding: 20px;
  background-color: greenyellow;
  font-family: "Tapestry", cursive;
}

/*jetzt kommt der ID selector*/

#main-header {
  text-align: center;
  padding-bottom: 70px;
  font-family: "water Brush", cursive;
}

/*noch anschauen: wie weise ich classes zu um sie zu stylen?*/

/*
font-family: 'Tapestry', cursive;
font-family: 'Water Brush', cursive;

Download über google fonts. Kopie in HTML Head nur einmal

*/
#table-of-content {
  background-color: #fff;
}

/**ab hier beginnt Tast zu pseude klassen etc

Frage: Kann der erste Teil der Aufgabe mit `main > *`, also allen Elementen die unter Main sind gelöst werden?*/

main > * {
  margin-top: 50px;
}

/*Add styling to the navigation links
Add spacing between the navigation links*/

/*herausfinden was das a vor dem Link bedeutet*/

/* verdammtes *+* funktioniert nicht*/

#table-of-content li {
  margin-top: 25px;
}

/* das folgende funktioniert nicht weil ich erst andere ausschließen muss

li + li {
  background-color: aqua;
}
*/

/*
Add a general color for the navigation links
*/

a:link {
  color: blueviolet;
  background-color: aquamarine;
}

a:visited {
  color: white;
}

/*
Add specific styling for the :hover and :active state (i.e. different color or background color)*/

a:hover {
  color: coral;
}

a:active {
  color: crimson;
}

/*Use the border property to draw a line over each article of the main content except for the first one*/

article * + * article {
  border: 5px solid black;
}

/*FU...*/
